#contact {
    background-image: url(../assets/images/Background_Contacts.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;

    padding: 120px 163px 183px;
} 

#links {
    width: 400px;
}

.link {
    background-color: var(--gray-400);
    width: 100%;
    height: 68px;
    /* align-items: center; */
    
    border-radius: 8px;
    border: 1px solid transparent;
    transition: border-color 0.4s;

    .LinkedIn {
        background-image: url(../assets/icons/LinkedIn.svg);
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
    }

    .Instagram {
        background-image: url(../assets/icons/instagram.svg);
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
    }

    .GitHub {
        background-image: url(../assets/icons/github.svg);
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
    }

    .Email {
        background-image: url(../assets/icons/email.svg);
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
    }
}

.link > :nth-child(3) {
    margin-left: auto;
}

.link:hover {
    border-color: var(--color-blue);

    .LinkedIn {
        background-image: url(../assets/icons/linkedinHover.svg);
        transition: 0.4s;
    }

    .Instagram {
        background-image: url(../assets/icons/instagramLogoHover.svg);
        transition: 0.4s;
    }

    .GitHub {
        background-image: url(../assets/icons/githubHover.svg);
        transition: 0.4s;
    }

    .Email {
        background-image: url(../assets/icons/envelopeHover.svg);
        transition: 0.4s;
    }
}