#intro {
    background-image: url(../assets/images/Background_Intro.png);
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;

    gap: 80px;
}

header {
    max-width: 680px;

    /* Imagem de perfil */
    .img-profile {
        position: relative;

        width: 112px;
        height: 112px;

        margin-bottom: 56px;
    }

    .profile {
        width: 86px;
        height: 86px;

        position: relative;

        top: 6px;
        left: 5.7px; 
    }

    .circle {
        width: 99px;
        height: 99px;
        position: absolute;
        border-radius: 50%;
        background-color: var(--gray-400);
        border: var(--color-red) solid 3px;
    }

    .tag {
        position: absolute;
        bottom: 10px;
        right: 4px;
        z-index: 10;  
    }
}

.skills {    
    padding: 8px 16px;
    width: fit-content;
    height: 40px;
    
    border-radius: 999px;
} 

.bc-gray-400 {
    background-color: var(--gray-400);
}

.scrow-down {
    margin-top: 14px;
}