#intro {
    margin: auto;
    background-image: url(../assets/Background_Intro.png);
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 120px 163px 183px;
}

#Info {
    position: relative;
    max-width: 1040px;
    
    padding-inline: 180px;
}

header {
    position: relative; 
    max-width: 680px;
    margin-bottom: 80px;
    
    display: flex;
}

.img-profile {
    position: relative;

    width: 112px;
    height: 112px;

    margin: 0 auto;
}

.img-profile .profile {
    gap: 8px;

    width: 86px;
    height: 86px;

    position: relative;

    top: 7px;
    left: 7px; 
}

.circle {
    width: 99px;
    height: 99px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--gray-400);
    border: var(--color-red) solid 3px;
}

.tag {
    position: absolute;
    bottom: 12px;  
    right: 4px;   
    z-index: 10;  
}

.subtitle {
    font: var(--subtitle);
    color: var(--gray-100);
    margin-bottom: 8px;
    margin-top: 56px;
}

.subtitle-name {
    font: var(--subtitle);
    color: var(--color-red);
    text-align: center;
}

header h1 {
    font: var(--title-lg);
    color: var(--gray-100);
    text-align: center;
}

header p {
    font: var(--text-sm);
    color: var(--gray-300);
    text-align: center;
    margin-top: 20px;
}

#techs {
    font: var(--text-md);
    color: var(--gray-200);
    
    display: flex;
    flex-direction: row;
    
    justify-content: center;

    gap: 8px;
}

.skill {
    display: flex;
    flex-direction: row;
    gap: 8px;
    
    background-color: var(--gray-400);
    padding: 8px 16px;
    width: fit-content;
    height: 40px;
    
    border-radius: 999px;
} 