#projects {
    background-color: var(--gray-500);
    height: 917px;
    padding: 72px 120px 144px;

    flex-direction: column;
    gap: 56px;
}

.font-span {
    font: var(--subtitle);
    color: var(--color-red);
}

.font-h1 {
    font: var(--title-md);
    color: var(--gray-100);
}

.grid {
    width: 1040px;
    height: 584px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 24px;
}

.project-card {
    width: 330px;
    height: 280px;
    background-color: var(--gray-400);
    border-radius: 12px;

    padding-inline: 12px;
    
    flex-direction: column;
    gap: 20px;

    img {
        width: 306px;
        height: 156px;
        object-fit: cover;
        border-radius: 8px;
        margin-top: 12px;
    }
}

.text {
    flex-direction: column;
    gap: 8px;
    
    p {
        font: var(--text-sm);
        color: var(--gray-200);
    }

    span {

        font: var(--title-sm);
        color: var(--gray-100);
    }
}

