#projects {
    background-color: var(--gray-500);
    height: 917px;
    padding: 72px 120px 144px;
}

.grid {
    width: 1040px;
    height: 584px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

.project-card {
    width: 330px;
    height: 280px;
    background-color: var(--gray-400);
    border-radius: 12px;

    padding-inline: 12px;
    
    flex-direction: column;

    border: 1px solid transparent;
    transition: border-color 0.4s;

    img {
        width: 306px;
        height: 156px;
        object-fit: cover;
        border-radius: 8px;
        margin-top: 12px;
    }
}

.project-card:hover {
    border-color: var(--gray-300);
}